body {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  word-wrap: break-word;
  margin: 0;
}
#root {
  border-radius: 10px;
  overflow: hidden;
}
